body {
  background-color: #5c87b7;
  background-image: url(../images/airmid-tilemap.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.tilemap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(76, 20px);
  grid-template-rows: repeat(29, 20px);
}

.tile {
  width: 20px;
  height: 20px;
}

#sprite {
  position: relative;
  width: 60px;
  height: 60px;
}

.btn {
  position: absolute;
}

.inventory {
  position: absolute;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5); 
}

.inventoryInner {
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;   
  background-color:#bfb777;
  border: 5px solid #4d4a31;
  
}

