body {
  background-color: #5c87b7;
  background-image: url(../images/airmid-tilemap.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.tilemap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(76, 20px);
  grid-template-rows: repeat(29, 20px);
}

.tile {
  width: 20px;
  height: 20px;
}

#sprite {
  position: relative;
  width: 60px;
  height: 60px;
}

