body {
  background-color: #5c87b7;
  background-image: url(../images/airmid-tilemap.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.tilemap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(76, 20px);
  grid-template-rows: repeat(29, 20px);
}

.tile {
  width: 20px;
  height: 20px;
}

#sprite {
  position: relative;
  width: 60px;
  height: 60px;
}

.btn {
  position: absolute;
}

.inventory {
  position: absolute;
  top: 40%;
  left: 40%; 
  width: 330px;
  height: 130px;  
  background-color:#bfb777;
  z-index: 1; 
}

.inventoryInner {  
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(2, 50px);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

.inventorySlot {
  background-color: wheat;
  height: 50px;
  width: 50px;
  
}

.close {
  float: left;
  padding-left: 5px;
}

.shadow {
  position: absolute; 
  top: 0; left: 0;
  background-color: rgba(0,0,0, 0.5);  
  width: 100%;  
  height: 100%; 
  z-index: 1;
}