@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: #5c87b7;
  background-image: url(../images/airmid-tilemap.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.tilemap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(76, 20px);
  grid-template-rows: repeat(29, 20px);
}

.tile {
  width: 20px;
  height: 20px;
}

#sprite {
  position: relative;
  width: 60px;
  height: 60px;
}

.inventoryBtn {
  position: absolute;
  background-color: rgb(238, 227, 196);
  padding: 10px;
  border-top: 3px solid brown;
  border-left: 3px solid brown;
  border-bottom: 3px solid brown;
}

.settingsBtn {
  position: absolute;
  left: 50px;
  background-color: rgb(238, 227, 196);
  padding: 10px;
  border-top: 3px solid brown;
  border-right: 3px solid brown;
  border-bottom: 3px solid brown;
}

.inventory {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 330px;
  height: 130px;
  background-color: #bfb777;
  z-index: 1;
}

.inventorySlot {
  background-repeat: no-repeat;
  background-size: cover;
}

.itemPopup {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 310px;
  height: 70px;
  background-color: wheat;
  z-index: 1;
}

.settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 330px;
  height: 180px;
  background-color: wheat;
  z-index: 1;
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

.settings p {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #4694a6;
}

strong {
  color: #5c87b7;
}

.resume {
  font-family: 'VT323', monospace;
  font-size: 15px;
  border: none;
  height: 30px;
  cursor: pointer;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
  font-family: 'VT323', monospace;
  margin: 20px;
}

img {
  cursor: pointer;
}

.inventoryInner {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(2, 50px);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

.inventorySlot {
  background-color: wheat;
  height: 50px;
  width: 50px;
}

.close {
  float: left;
  padding-left: 5px;
  cursor: pointer;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.item1 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 680px;
  left: 100px;
}

.item2 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 700px;
  left: 500px;
}

.item3 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 70px;
  left: 420px;
}
.item4 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 100px;
  left: 100px;
}
.item5 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 400px;
  left: 1200px;
}
.item6 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 670px;
  left: 700px;
}
.item7 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 30px;
  left: 1200px;
}
.item8 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 400px;
  left: 100px;
}
.item9 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 700px;
  left: 1200px;
}
.item10 {
  width: 25px;
  height: 25px;
  position: relative;
  top: 50px;
  left: 600px;
}
